@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    background-image: url('../images/forest-5679491_1280.jpg'); no-repeat cover center/center
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    

}
  
  main {
    flex: 1;
    margin: 100px;
    margin-bottom: 100px;
  }




* {
   
    margin: 0;
    padding: 0;
    font-family: Fraunces, sans-serif;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 2px;
    background-color: #194f24;
    margin: 0;
    padding: 0;
    z-index: 5;
    min-height: 50px;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: #194f24;
    text text-decoration: none;
    text-decoration: none;
    font-family: Fraunces;
    font-size: 100%;
    z-index: -1;
}

nav {
    width: 100%;
    height: 35px;
    position: absolute;
    text-align: center;
    

}

nav>ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

nav>ul>li {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    line-height: 50px;
}

nav>ul>li>a {
    color: #f7df07;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

nav>ul>li>a:hover {
    font-size: 200%;
}

#hero {
    #hero {
        background-image: url('../images/forest-5679491_1280.jpg') no-repeat cover center/center;
        position: relative;
        height: 600px;
        width: 100%;
        padding: 20px;
        background-position: center 0;
    }
}

#cover-text {
    background-color: rgba(25, 79, 36, 0.7);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 90px;
    border: 2px solid #f7df07
}

#cover-text h2 {
    font-size: 200%;
    text-align: center;
    color: #f7df07;

}
#cover-text h3 {
    font-size: 100%;
    text-align: center;
    color: #f7df07;
    padding: 5%;

}

.bout {
    background-image: url('../images/forest-5679491_1280.jpg') no-repeat cover center/center;
    position: absolute;
    height: 600px;
    width: 100%;
    padding: 20px;
}

.about {
    background-color: rgba(25, 79, 36, 0.7);
    padding: 0px;
    border: 2px solid #f7df07;
    margin: 0;
}


.about h3 {
    font-size: 200%;
    text-align: center;
    color: #f7df07;
    padding: 0px;

}
.about p {
    color: #f7df07;
    padding: 0px;

}
.about ul{
    color: #f7df07;
    padding: 0px;

}

.istory {
    background-image: url('../images/forest-5679491_1280.jpg');
    position: relative;
    height: 600px;
    width: 100%;
    padding: 0px;
}

.history {
    background-color: rgba(25, 79, 36, 0.7);
    padding: 0px;
    border: 2px solid #f7df07;
    margin: 0;
}


.history h3 {
    font-size: 200%;
    text-align: center;
    color: #f7df07;
    padding: 0px;

}
.history p {
    color: #f7df07;
    padding: 0px;

}

.footer {
    background-color: #194f24;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-about {
    background-color: #194f24;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #f7df07;
    text-align: center;
    margin-top: auto;
}



.footer-button {
    background-color: #f7df07;
    color: #194f24;
    font-family: Fraunces;
    padding: 10px;
    font-size: 20px;
    margin: 4px;
}

.footer-button h3 {
    color: #194f24;
}
.adopt-list {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin: 80px;
    border: 20px;
    columns: 3;
    

}
.thumb-holder > img {
    padding: 5px;
}

img {
    width: 220px;
    height: 220px;
}


.content {
    background-color: rgba(25, 79, 36, 0.7);
    padding: 0px;
    border: 2px solid #f7df07;
    margin: 0;
}


.content h3 {
    font-size: 200%;
    text-align: center;
    color: #f7df07;
    padding: 0px;

}
.content p {
    color: #f7df07;
    padding: 0px;

}





@media screen and (min-width: 576px) {
.adopt-list {
        column-count: 1;
        column-gap: 0;
    }








